<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FreeBoard">
	<select id="listAll" resultType="com.pi.developi.freeBoard.domain.FreeArticleDTO">
		select ARTICLE_NO ,c.name,TITLE ,A_DATE ,HIT,id ,group_no,step,indent
		from ARTICLE a,USERS u, CATEGORY c  
		where a.user_no=u.user_no and a.board_no=3 and a.category_no=c.category_no 
		order by group_no desc,indent
	</select>
	
	<select id="userId" resultType="java.lang.String">
		SELECT id
		FROM article,users
		WHERE ARTICLE.user_no=USERS.user_no and board_no=3 
		ORDER BY article_no desc
	</select>
	
	<select id="detail" resultType="com.pi.developi.freeBoard.domain.FreeArticleDTO">
		select ARTICLE_NO ,TITLE ,CONTENT ,ARTICLE.USER_NO ,CATEGOrY_NO ,A_DATE ,BOARD_NO ,GROUP_NO ,STEP ,INDENT ,HIT,id 
		from ARTICLE,USERS 
		where ARTICLE.user_no=USERS.user_no and board_no=3 and article_no=#{no}
		order by ARTICLE_NO desc
	</select>
	
	<select id="detailId" resultType="java.lang.String">
		SELECT id
		FROM article,users
		WHERE ARTICLE.user_no=USERS.user_no and board_no=3 and article_no=#{no}
		ORDER BY article_no desc
	</select>
	
	<update id="hitUp">
		UPDATE ARTICLE SET hit=hit+1
		WHERE article_no = #{no}
	</update>
	
	<insert id="write">
		INSERT INTO ARTICLE(article_no, title, content, user_no, category_no, a_date, board_no, group_no, step, indent, hit)
		VALUES(ARTICLE_SEQ.NEXTVAL, #{title},  #{Content},  1,  #{category_no},  sysdate,  #{board_no},  ARTICLE_SEQ.NEXTVAL,  0,  0, 0)
	</insert>
	
	<update id="update">
		UPDATE ARTICLE SET title = #{title},  content = #{Content}, category_no = #{category_no}
		WHERE article_no = #{article_no}
	</update>
	
	<delete id="delete">
		DELETE FROM ARTICLE WHERE article_no = #{no}
	</delete>
	
	<select id="titleSearch"  resultType="com.pi.developi.freeBoard.domain.FreeArticleDTO">
		select ARTICLE_NO ,TITLE ,A_DATE ,HIT,id 
		from ARTICLE,USERS 
		where ARTICLE.user_no=USERS.user_no and board_no=3 and title like #{keyword}
		order by ARTICLE_NO desc
	</select>
	
	<select id="contentSearch"  resultType="com.pi.developi.freeBoard.domain.FreeArticleDTO">
		select ARTICLE_NO ,TITLE ,A_DATE ,HIT,id 
		from ARTICLE,USERS 
		where ARTICLE.user_no=USERS.user_no and board_no=3 and content like #{keyword}
		order by ARTICLE_NO desc
	</select>
	
	<select id="userSearch"  resultType="com.pi.developi.freeBoard.domain.FreeArticleDTO">
		select ARTICLE_NO ,TITLE ,A_DATE ,HIT,id 
		from ARTICLE,USERS 
		where ARTICLE.user_no=USERS.user_no and board_no=3 and id like #{keyword}
		order by ARTICLE_NO desc
	</select>
	
	<select id="listCategory"  resultType="java.lang.String">
		SELECT name FROM category WHERE board_no=3
	</select>
	
	<select id="replyList"  resultType="com.pi.developi.freeBoard.domain.FreeReplyDTO">
		SELECT reply_no,content,id,r_date FROM reply r,users u WHERE article_no=#{article_no} and r.user_no=u.user_no
	</select>
	
	<insert id="replyWrite">
		INSERT INTO REPLY(REPLY_NO,content, user_no, r_date, article_no)
		VALUES(REPLY_SEQ.NEXTVAL,#{content}, #{user_no}, sysdate, #{article_no})
	</insert>
	
	<select id="replyNum"  resultType="java.lang.Integer">
		select count(reply_no) from article a left outer join reply r on r.article_no=a.article_no  where board_no=3 group by a.article_no order by a.article_no desc
	</select>
	
	<insert id="replyAricle">
		INSERT INTO ARTICLE(article_no, title, content, user_no, category_no, a_date, board_no, group_no, step, indent, hit)
		VALUES(ARTICLE_SEQ.NEXTVAL, #{title},  #{Content},  1,  #{category_no},  sysdate,  3,   #{group_no},  #{step}+1,  #{indent}+1, 0)
	</insert>
	
	<update id="indentUp">
		update article set indent=indent+1 where group_no=#{group_no} and indent>#{indent}
	</update>

</mapper>