<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 네임스페이스(사용영역) 설정 -->

<mapper namespace="com.pi.developi.mappers.noticeBoardMapper">

	<!-- 글쓰기 -->
	<insert id="write">
		INSERT INTO ARTICLE(ARTICLE_NO, TITLE, CONTENT,
		USER_NO, CATEGORY_NO,
		A_DATE, BOARD_NO, GROUP_NO, step, indent, hit)
		VALUES(ARTICLE_SEQ.NEXTVAL, #{title}, #{content}, 1, #{categoryNo},
		sysdate, 2, ARTICLE_SEQ.CURRVAL, #{step}, #{indent}, 0)
	</insert>

	<!-- 게시물 전체 목록 불러오기 -->
	<select id="listAll" resultType="noticeBoard">
		SELECT ARTICLE_NO as articleNo,
		TITLE, CONTENT, USER_NO as userNo, CATEGORY_NO as categoryNo,
		A_DATE as
		a_date, BOARD_NO as boardNo, GROUP_NO as groupNo,
		step, indent, hit
		FROM
		article
		where
		board_no=#{boardNo}
		order by GROUP_NO desc, step asc
	</select>

	<!-- 게시물 불러오기 -->
	<select id="detail" resultType="noticeBoard">
		SELECT ARTICLE_NO as articleNo,
		TITLE, CONTENT, USER_NO as userNo, CATEGORY_NO as categoryNo,
		A_DATE as
		a_date, BOARD_NO as boardNo, GROUP_NO as groupNo,
		step, indent, hit
		FROM
		article
		where
		article_no=#{articleNo}
	</select>

	<!-- 게시물 수정하기 -->
	<update id="modify">
		UPDATE ARTICLE SET title = #{title}, content =
		#{content}, category_no = #{categoryNo}, 
		a_date = sysdate, user_no=#{userNo} 
		WHERE
		article_no =
		#{articleNo}
	</update>

	<!-- 게시물 삭제하기 -->
	<delete id="delete">
		DELETE FROM ARTICLE WHERE article_no = #{articleNo}
	</delete>

	<!-- 게시물 검색 -->
	<select id="search" resultType="noticeBoard">
		SELECT ARTICLE_NO as articleNo,
		TITLE, CONTENT, USER_NO as userNo,
		CATEGORY_NO as categoryNo,
		A_DATE as
		a_date, BOARD_NO as boardNo,
		GROUP_NO as groupNo,
		step, indent, hit
		FROM
		article
		where
		board_no=#{boardNo}
		<include refid="searchByType"></include>
		order by ARTICLE_NO desc
	</select>

	<!-- 조건절 -->
	<sql id="searchByType">
		<choose>
			<when test="searchType=='title'">
				and title like concat(concat('%',#{keyword}),'%')
			</when>
			<otherwise>
				<choose>
					<when test="searchType=='content'">
						and content like '%${keyword}%'
					</when>
					<otherwise>
						and user_no=${keyword}
					</otherwise>
				</choose>
			</otherwise>
		</choose>
	</sql>
	<!-- '%'||#{keyword}||'%' -->

	<!-- 조회수 증가 -->
	<update id="hitUp">
		UPDATE ARTICLE SET hit=hit+1
		WHERE article_no
		=#{articleNo}
	</update>

	<!-- 댓글등록 -->
	<insert id="replyRegist">
		INSERT INTO REPLY(REPLY_NO,content, user_no, r_date,
		article_no)
		VALUES(REPLY_SEQ.NEXTVAL, #{content}, #{userNo}, sysdate,
		#{articleNo})
	</insert>

	<!-- 댓글등록 -->
	<select id="replyListAll" resultType="noticeReply">
		select REPLY_NO as replyNo
		,CONTENT ,USER_NO as userNo ,R_DATE ,ARTICLE_NO
		as articleNo from REPLY
		where article_no = #{articleNo} order by reply_no desc
	</select>

	<!-- 답글 답답글 구현시 기존의 답글 step 증가 -->
	<update id="stepUp">
		<![CDATA[
		UPDATE ARTICLE SET step=step+1
		WHERE group_no
		=#{groupNo} and step > #{step}
		]]>
	</update>
	
	<!-- 답글쓰기 -->
	<insert id="replyArticleWrite">
		INSERT INTO ARTICLE(ARTICLE_NO, TITLE, CONTENT,
		USER_NO, CATEGORY_NO,
		A_DATE, BOARD_NO, GROUP_NO, step, indent, hit)
		VALUES(ARTICLE_SEQ.NEXTVAL, #{title}, #{content}, #{userNo}, #{categoryNo},
		sysdate, #{boardNo}, #{groupNo}, #{step}, #{indent}, 0)
	</insert>

</mapper>